<% layout('layouts/boilerplate') %>

    <h1>All User data :-</h1>
    <ol>
        <% for (let user of users){ %>
            <li>
                <%= user.name %>
                    <a href="/users/<%= user._id %>">details</a>
            </li>
            <% } %>
    </ol>

    <h3><a href="/users/new">New user</a></h3>