<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New page</title>
</head>

<body>



    <h2>New User Form :</h2>
    <form action="/users" method="POST">

        <!-- Basic Info -->
        <div class="section">
            <label for="name">Name:</label>
            <input type="text" id="name" name="user[name]" required> <br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="user[email]" required> <br>

            <label for="education">Education:</label>
            <input type="text" id="education" name="user[education]"> <br>
        </div>

        <!-- Skills -->
        <div class="section">
            <label>Skills (comma separated):</label>
            <input type="text" name="user[skills]">
        </div> <br>

        <!-- Projects -->
        <div class="section">
            <h3>Projects</h3>

            <label for="projectTitle">Project Title:</label>
            <input type="text" name="user[projects][0][title]" id="projectTitle">

            <label for="projectDescription">Description:</label>
            <textarea name="user[projects][0][description]" id="projectDescription"></textarea>

            <label for="projectLink">Links:</label>
            <input type="url" name="user[projects][0][link]" id="projectLink">

        </div> <br>

        <!-- Work -->
        <div class="section">
            <h3>Work Experience</h3>
            <label>Company:</label>
            <input type="text" name="user[works][0][company]">

            <label>Role:</label>
            <input type="text" name="user[works][0][role]">

            <label>Start Date:</label>
            <input type="date" name="user[works][0][startDate]">

            <label>End Date:</label>
            <input type="date" name="user[works][0][endDate]">

            <label>Description:</label>
            <textarea name="user[works][0][description]"></textarea>
        </div>

        <!-- Links -->
        <div class="section">
            <h3>Links</h3>
            <label>GitHub:</label>
            <input type="url" name="user[links][github]"> <br>

            <label>LinkedIn:</label>
            <input type="url" name="user[links][linkedin]"> <br>

            <label>Portfolio:</label>
            <input type="url" name="user[links][portfolio]"> <br>
        </div>

        <button type="submit">Submit</button>
    </form>

    <br><br>
    <a href="/users">Go back</a>

</body>

</html>